<% @posts.each do |post| %>
	<div>
		<h1><%= link_to post.title, post %></h1>
		<p class="text-muted"><%= "Publicado por #{post.user.email} hace #{time_ago_in_words(post.created_at)}" %></p>
		<p><%= "#{post.body[0...300]}..." %></p>
		<% if !current_user.nil? %>
			<% if current_user[:id] == post.user_id %>
				<%= link_to "Editar", edit_post_path(post), class:"glyphicon glyphicon-pencil" %>
				<%= link_to "Eliminar", post, method: :delete, data:{confirm: "¿Está seguro que desea eliminar este post"}, class: "glyphicon glyphicon-trash" %>		
			<% end %>
		<% end %>
	</div>
<% end %>