<!DOCTYPE html>
<html>
  <head>
    <title>Superblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Superblog</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to 'Nuevo Post' %></li>
                <li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Ingresar', new_user_session_path %></li>
                <li><%= link_to 'Registrarse', new_user_registration_path %></li>
              <% end %>
            </ul> 
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>  
    </div>
    
  </body>
</html>
